{{define "create"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="" rel="stylesheet" type="text/css" />

<title>YiiShare.com</title>

<meta name="keywords" content="yiishare.com" />

<meta name="description" content="" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body>

	<div class="article_form">
	<form method="post" action="/backend/article/create">
	<div class="row">
		标题<br />
		<input name="title" type="text" />
	</div>
	<div class="row">
		内容<br />
		<textarea name="content"></textarea>
	</div>
	<div class="row">
		文章来源<br />
		<input name="source_url" type="text" />
	</div>
	<div class="row">
		关键词<br />
		<input name="keywords" type="text" />
	</div>
	<div class="row">
		<input type="submit" value="提交" />
	</div>
	</form>
	</div>

	<div class="foot">
		<p>

			©2012 Yiishare.com

		</p>

	</div>

</body>

</html>


{{end}}

{{define "hello"}}
<p>Hello {{.Id}}</p>
{{end}}
