{{define "create"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="statics/css/tapo.home.css" rel="stylesheet" type="text/css" />

<title>YiiShare.com</title>

<meta name="keywords" content="yiishare.com" />

<meta name="description" content="" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body>


	<div class="foot">
{{.Title}}
{{template "hello" .}}
		<p>

			©2012 Yiishare.com

		</p>

	</div>

</body>

</html>


{{end}}

{{define "hello"}}
<p>Hello {{.Id}}</p>
{{end}}
